@import 'config';

#challenge-table {

    background: red;

    table {
        display: grid;
        border-collapse: collapse;
        min-width: 100%;
        grid-template-columns: 13fr 1fr 1fr;
            // minmax(300px, 8fr)
            // minmax(100px, 1fr)
            // minmax(40px, 1fr);
        margin-bottom: 1rem;
        padding-bottom: 3rem;
    }

}

#my-words-table {

    background: green;

    table {
        display: grid;
        border-collapse: collapse;
        min-width: 100%;
        grid-template-columns: 3fr 10fr 1fr 1fr 1fr;
            // minmax(100px, 2fr)
            // minmax(300px, 4fr)
            // minmax(40px, 1fr)
            // minmax(40px, 1fr);
        margin-bottom: 1rem;
        padding-bottom: 3rem;
    }

}

// All Tables
table {
    thead,
    tbody,
    tr {
        display: contents;
    }

    thead {
        // vertical-align: bottom;
        vertical-align: middle;
    }

    th,
    td {
        padding: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }    

    th {
        position: sticky;
        top: 0;
        background: $secondary-color;
        color: set-text-color($secondary-color);
        text-align: left;
        font-weight: 600;
        font-size: 1.2rem;
    }

    th:last-child {
        border: 0;
    }

    td {
        padding-top: 10px;
        padding-bottom: 10px;
        color: #808080;
    }

    /* Alternate rows shaded */
    tr:nth-child(even) td {
        background: #f8f6ff;
    }
}