{% extends "base.html" %}

{% block title %}: Change Password{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Change Your Password</h1>
</div>
<div class="col-md-4">

    <form action="" method="POST" class="form" role="form">
        {{ form.hidden_tag() }}

        <div class="form-group required">
            <label class="control-label" for="password">Old password</label>
            {{ form.old_password(class_="form-control") }}
        </div>
        
        <div class="form-group required">
            <label class="control-label" for="password">New password</label>
            {{ form.password(class_="form-control") }}
        </div>

        <div class="form-group required">
            <label class="control-label" for="password">Confirm new password</label>
            {{ form.password2(class_="form-control") }}
        </div>
        
        {{ form.submit(class_="btn btn-secondary") }}

    </form>

</div>
{% endblock %}

<div class="form-group  required"><label class="control-label" for="old_password">Old password</label>
    <input class="form-control" id="old_password" name="old_password" required type="password" value="">  
</div>

<div class="form-group  required"><label class="control-label" for="password">New password</label>
    <input class="form-control" id="password" name="password" required type="password" value="">
</div>

<div class="form-group  required"><label class="control-label" for="password2">Confirm new password</label>  
    <input class="form-control" id="password2" name="password2" required type="password" value="">
</div>

<input class="btn btn-default" id="submit" name="submit" type="submit" value="Update Password">