{% extends "base.html" %}

{% block title %}: Login{% endblock %}

{% block page_content %}

{% include 'partials/_flashes.html' %}

<!-- Auth Form Container -->
<div class="auth-form-container">

    <div class="auth-form-wrap">

        <div class="auth-form-header">
            <h1>Login</h1>
        </div>

        <form method="POST" action="{{ url_for('auth.login') }}" class="form" role="form">       

            {{ form.hidden_tag() }}

            <div class="auth-input-wrap">
                <span class="auth-label-input">Email</span>
                <input class="auth-input" type="email" name="email" placeholder="Type your email address">
            </div>

            <div class="auth-input-wrap">
                <span class="auth-label-input">Password</span>
                <input class="auth-input" type="password" name="password" placeholder="Type your password">
            </div>

            <div class="auth-input-wrap">
                <div>
                    <label>
                        <input id="remember_me" name="remember_me" type="checkbox" value="y"> Keep me logged in
                    </label>
                </div>

                <div>
                    <button class="auth-btn" type="submit">
                        Login
                    </button>
                </div>
            </div>

            <div class="auth-input-wrap">
                <p>Forgot your password? <a class="link-color" href="{{ url_for('auth.password_reset_request') }}">Click here to reset it</a>.</p>
                <p>New user? <a class="link-color" href="{{ url_for('auth.register') }}">Click here to register</a>.</p>
            </div>

        </form>

    </div>
</div>

{% endblock %}
