{% extends "base.html" %}

{% block title %}: Register{% endblock %}

{% block page_content %}

{% include 'partials/_flashes.html' %}

<!-- Auth Form Container -->
<div class="auth-form-container">

    <div class="auth-form-wrap">
        <div class="auth-form-header">
            <h1>Register</h1>
        </div>

        <form method="POST" action="{{ url_for('auth.register') }}" class="form" role="form">    

            {{ form.hidden_tag() }}

            <div class="auth-input-wrap">
                <span class="auth-label-input">Email</span>
                <input class="auth-input" type="email" name="email" placeholder="Type your email address">
            </div>

            <div class="auth-input-wrap">
                <span class="auth-label-input">Username</span>
                <input class="auth-input" type="text" name="username" placeholder="Type your username">
            </div>

            <div class="auth-input-wrap">
                <span class="auth-label-input">Password</span>
                <input class="auth-input" type="password" name="password1" placeholder="Type your password">
            </div>

            <div class="auth-input-wrap">
                <span class="auth-label-input">Confirm Password</span>
                <input class="auth-input" type="password" name="password2" placeholder="Confirm password">
            </div>    

            <div class="auth-input-wrap">
                <div>
                    <button class="auth-btn" type="submit">
                        Register
                    </button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock %}