{% extends "base.html" %}

{% block title %}: Password Reset{% endblock %}

{% block page_content %}

{% include 'partials/_flashes.html' %}

<div class="auth-form-container">
    <div class="auth-form-wrap">

        <div class="auth-form-header">
            <h1>Reset Your Password</h1>
        </div>

        <form action="" method="POST" class="form" role="form">
            {{ form.hidden_tag() }}

            <div class="wrap-input p-1">
                <span class="label-input">Email</span>
                <input class="input100" type="email" name="email" placeholder="Type your email address">
            </div>
            
            <div class="wrap-input p-1">
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <button class="login-form-btn">
                            Reset Password
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
<div class="page-header">
   
{% endblock %}