{% extends "base.html" %}

{% block title %}Mologos - Password Reset{% endblock %}

{% block page_content %}

<style>
  
  .auth-form-container {
        min-height: 650px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .auth-form-wrap {
        min-height: 500px;
        width: 500px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
    }

    .auth-form-header {
        text-align: center;
    }

    .wrap-input100 {
        width: 100%;
        position: relative;
    }

    .label-input100 {
        font-size: 1.5rem;
        color: #333333;
        line-height: 1.5;
        padding-left: 7px;
    }

    .input100 {
        font-size: 16px;
        color: #333333;
        line-height: 1.2;

        display: block;
        width: 100%;
        height: 55px;
        background: transparent;
        padding: 0 7px 0 43px;
    }

    .validate-input {
        position: relative;
    }

    .login100-form-bgbtn {
        position: absolute;
        z-index: -1;
        width: 300%;
        height: 100%;
        top: 0;
        left: -100%;

        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }

    .login-form-btn {
        font-size: 16px;
        line-height: 1.2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 20px;
        width: 100%;
        height: 50px;
        cursor: pointer;
    }

    a:link {
        color: green;
        background-color: transparent;
        text-decoration: none;
    }

    a:visited {
        color: pink;
        background-color: transparent;
        text-decoration: none;
    }

    a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }
</style>

<div class="auth-form-container">
    <div class="auth-form-wrap">

        <div class="auth-form-header">
            <h1>Reset Your Password</h1>
        </div>

        <form action="" method="POST" class="form" role="form">
            {{ form.hidden_tag() }}

            <div class="wrap-input p-1">
                <span class="label-input">Email</span>
                <input class="input100" type="email" name="email" placeholder="Type your email address">
            </div>
            
            <div class="wrap-input p-1">
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <button class="login-form-btn">
                            Reset Password
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
<div class="page-header">
   
{% endblock %}