{% extends "base.html" %}

{% block title %}Mologos - Password Reset{% endblock %}

{% block page_content %}

<div class="container-flash">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% for category, message in messages %}
            <div class="flash-msg {{ category }}">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}
    {% endwith %}
</div>

<div class="auth-form-container">
    <div class="auth-form-wrap">

        <div class="auth-form-header">
            <h1>Reset Your Password</h1>
        </div>

        <form action="" method="POST" class="form" role="form">
            {{ form.hidden_tag() }}

            <div class="wrap-input p-1">
                <span class="label-input">Email</span>
                <input class="input100" type="email" name="email" placeholder="Type your email address">
            </div>
            
            <div class="wrap-input p-1">
                <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                        <button class="login-form-btn">
                            Reset Password
                        </button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
<div class="page-header">
   
{% endblock %}