/* TODO */

/* Colors Config */
/* Set Text Color Function: If the lightness of the color that is passed in (i.e. the background color) is less than 50, then return the color black. If the lightness of the background color passed in is more than 50, return the color white */
.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden; }
  
  .page-container {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0rem 0; }
  
  /* Buttons */
  .btn {
    display: inline-block;
    border: none;
    background: #333;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: .25rem; }
    .btn-light {
      background: #f3f3f3;
      color: #000 !important; }
    .btn-primary {
      background: #0F222D;
      color: #fff !important; }
    .btn-secondary {
      background: #FDEAA0;
      color: #000 !important; }
    .btn-green {
      background: #4DB538;
      color: #fff !important; }
    .btn-block {
      display: block;
      width: 100%;
      text-align: center; }
    .btn:hover {
      opacity: 0.9; }
  
  /* Colors Config */
  /* Set Text Color Function: If the lightness of the color that is passed in (i.e. the background color) is less than 50, then return the color black. If the lightness of the background color passed in is more than 50, return the color white */
  #challenge-table {
    background: red; }
    #challenge-table table {
      display: grid;
      border-collapse: collapse;
      min-width: 100%;
      grid-template-columns: 13fr 1fr 1fr;
      margin-bottom: 1rem;
      padding-bottom: 3rem; }
  
  #my-words-table {
    background: green; }
    #my-words-table table {
      display: grid;
      border-collapse: collapse;
      min-width: 100%;
      grid-template-columns: 3fr 10fr 1fr 1fr;
      margin-bottom: 1rem;
      padding-bottom: 3rem; }
  
  table {
    /* Alternate rows shaded */ }
    table thead,
    table tbody,
    table tr {
      display: contents; }
    table thead {
      vertical-align: middle; }
    table th,
    table td {
      padding: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    table th {
      position: sticky;
      top: 0;
      background: #FDEAA0;
      color: #000;
      text-align: left;
      font-weight: 600;
      font-size: 1.2rem; }
    table th:last-child {
      border: 0; }
    table td {
      padding-top: 10px;
      padding-bottom: 10px;
      color: #808080; }
    table tr:nth-child(even) td {
      background: #f8f6ff; }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box; }
  
  /* Temp commenting this out because it messes with the page container */
  body {
    /* Temp commenting this out because it messes with the page container */
    /* min-height of 100% and grid required for Sticky Footer */
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: #f3f3f3; }
  
  a {
    color: #333;
    text-decoration: none; }
  
  p {
    margin: .5rem 0; }
  
  ul {
    list-style: none; }
  
  img {
    width: 100%; }
  
  /* 1: NAVBAR */
  #main-nav {
    background: #f3f3f3;
    position: sticky;
    top: 0;
    z-index: 2;
    /* Social Media Icons */ }
    #main-nav .container {
      display: grid;
      grid-template-columns: 6fr 3fr 2fr;
      padding: 1rem;
      align-items: center; }
    #main-nav .logo {
      width: 180px; }
    #main-nav .social {
      justify-self: center; }
      #main-nav .social i {
        color: #777;
        margin-right: .5rem; }
    #main-nav ul {
      justify-self: end;
      display: flex; }
      #main-nav ul li a {
        padding: 0.75rem;
        font-weight: bold; }
      #main-nav ul a.current {
        background: #0F222D;
        color: #fff; }
      #main-nav ul a.login-nav-icon {
        background: #4DB538;
        color: #fff; }
      #main-nav ul a:hover {
        background: #f3f3f3;
        color: #333; }
  
  /* 2: SHOWCASE */
  #showcase {
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative; }
    #showcase:before {
      content: '';
      background: url("../img/photo_01.jpeg") no-repeat center center/cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.4; }
    #showcase .showcase-container {
      display: grid;
      /* We only have one item, but we want to make space for another item */
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
      height: 50vh; }
    #showcase .showcase-content {
      /* Make text overlap background image with z-index*/
      z-index: 1; }
      #showcase .showcase-content p {
        margin-bottom: 1rem; }
  
  /* 3: HOMEPAGE ARTICLES */
  #home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem; }
  
  /* 5: FOOTER */
  #main-footer {
    background: #333;
    color: #fff;
    /* Site Links */ }
    #main-footer img {
      width: 150px; }
    #main-footer a {
      color: #fff; }
    #main-footer .footer-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      /* Subscribe button */
      /* Target last child with pseudo class */ }
      #main-footer .footer-container input[type='email'] {
        width: 90%;
        padding: 0.5rem;
        margin-bottom: 0.5rem; }
      #main-footer .footer-container input[type='submit'] {
        width: 90%; }
      #main-footer .footer-container > *:last-child {
        background: #444;
        grid-column: 1 / span 4;
        padding: .1rem;
        text-align: center;
        font-size: 0.75rem; }
  
  .flag {
    width: 40px;
    height: 40px; }
  
  /* TRANSLATE */
  #translation-grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    /* Make the first child (a div) span across the whole first row */ }
    #translation-grid > *:first-child {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 1rem;
      align-items: center;
      grid-column: 1 / span 2; }

/* Colors Config */
/* Set Text Color Function: If the lightness of the color that is passed in (i.e. the background color) is less than 50, then return the color black. If the lightness of the background color passed in is more than 50, return the color white */
#challenge-table {
    background: red; }
    #challenge-table table {
      display: grid;
      border-collapse: collapse;
      min-width: 100%;
      grid-template-columns: 13fr 1fr 1fr 1fr;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem; }
  
  #my-words-table {
    background: green; }
    #my-words-table table {
      display: grid;
      border-collapse: collapse;
      min-width: 100%;
      grid-template-columns: 3fr 10fr 1fr 1fr;
      margin-bottom: 1rem;
      padding-bottom: 0.5rem; }
  
table {
/* Alternate rows shaded */ }
table thead,
table tbody,
table tr {
    display: contents; }
table thead {
    vertical-align: middle; }
table th,
table td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
table th {
    position: sticky;
    top: 0;
    background: #FDEAA0;
    color: #000;
    text-align: left;
    font-weight: 600;
    font-size: 1.2rem; }
table th:last-child {
    border: 0; }
table td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080; }
table tr:nth-child(even) td {
    background: #f8f6ff; }
  