@import 'config';
@import 'utilities';
@import 'media_queries';
@import 'auth';

/* 0: WHAT IS THIS CALLED */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    cursor: pointer;
}

/* 1: NAVBAR */
.navbar-grid-container {

    .logo {
        width: 180px;
    }

    .search-bar-container {

        form {
            width: 100%;
            height: 100%;
        }

    }

    .navbar-links {
        .navbar-link-active {
            background-color: $green-color;
            color: set-text-color($green-color);
        }
    }

    ul {
        justify-self: end;
        display: flex;

        li {
            a {
                padding: 0.75rem;
                font-weight: bold;
            }
        }

        a {
            &.current {
                background-color: $primary-color;
                color: set-text-color($primary-color);
            }

            &.login-nav-icon {
                background-color: $green-color;
                color: set-text-color($green-color);
            }

            &.logout-nav-icon {
                background-color: $primary-color;
                color: set-text-color($primary-color);
            }

            &:hover {
                background-color: $light-color;
                color: $dark-color;
            }
        }
    }
}


/* 3: HOMEPAGE */
.showcase-header {
    color: #fff;
    padding: 2rem;
    position: relative;

    &:before {
        content: '';
        background: url('/static/img/background_homepage_01.jpeg') no-repeat center center/cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.7;
    }

    .showcase-container {
        display: grid;
        /* We only have one item, but we want to make space for another item */
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    .showcase-content {
        /* Make text overlap background image with z-index*/
        z-index: 1;

        p {
            margin-bottom: 1rem;
        }
    }
}

.home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two in a row
    grid-gap: 1rem;
}


/* ?? DEFINITION and EDIT */
.definition-page-container, .edit-page-container {
    > div {
        padding: 0.5rem 0rem;
    }
}

.definition-page-container {
    min-height: 500px;
}

.defined-word-content-header {
    font-size: 2.5rem;
    font-weight: 600;
}

.word-pronunication-ipa-span-content {
    font-size: 1.25rem;
}

.definition-page-header-two-container {
    padding-top: 1.25rem;
    border-top: 1px solid #000;
}

.definition-page-header-two {
    font-weight: 350;
    font-size: 1.35rem;
}

.ordered-and-unordered-lists {
    padding-left: 2rem;
}    

.left-indent-definition-page {
    padding-left: 0.75rem;
}

.list-item-definition-page-bullets {
    list-style-type: square;
}

.translation-table-grid-972 {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 55px 400px;
    padding: 0.25rem 0.75rem;
}

.translation-table-grid-item-973 {
    padding: 0.1rem 0.0rem;
    text-align: left;
    font-weight: 500;
    font-size: 1.1rem;
}

.add-to-or-update-dict-btn-wrapper {
    padding: 0.75rem;
}

.word-pron-and-symbols-container {
    height: 100px;
}

.left-60-word-pron-symbols {
    float: left;
    height: 100%;
    width: 60%;
}

.right-40-word-pron-symbols {
    float: right;
    height: 100%;
    width: 40%;
}

/* Eye Bin Star ToolTips */
.eye-star-bin-container {
    padding: 0rem;
    height: 100%;
    display: flex;
    padding: 0.25rem;
    justify-content: space-around;
    flex-direction: row;
    width: 300px;
}



.trash-extra-padding {
    /* Extra padding as trash icon is slightly smaller */
    padding: 0px 3px;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    padding: 0.5rem;
}

/* Show tooltip text when you mouse over the tooltip container */
.tooltip-container:hover .tooltiptext {
    visibility: visible;
}

/* Tooltip text */
.tooltip-container .tooltiptext {
    background-color: #0F222D;
    border-radius: 6px;
    color: #fff;
    left: 50%;
    margin-left: -60px;
    padding: 5px 0;
    position: absolute;
    text-align: center;
    top: 70%;
    visibility: hidden;
    width: 120px;
    z-index: 1;
}

.add-dict-btn-wrapper {
    padding: 1rem 0rem;
}
  
/* Used for the Definition and Edit Pages */
.definition-example-text-box-container {
    padding-left: 0.75rem;

    textarea {
        border-style: solid;
        border-width: 2px;
        cursor: text;
        display: inline-block;
        font-size: 1.25rem;
        height: 100px;
        margin: 0rem;
        padding: 2px;
        resize: auto;
        text-align: start;
        text-rendering: auto;
        width: 900px;
    }
}

/* 5: TRANSLATE */
.translate-grid {
    display: grid;
    grid-template-areas:
        'language-select language-select language-select'
        'box-1 box-2 box-3'
        'box-4 box-4 add-btn'
        'box-5 box-5 box-5';
    grid-gap: 1rem;

    width: 100%;
    height: 400px;
    grid-template-rows: 1fr 6fr 3fr 6fr;
    grid-template-columns: 3fr 1fr 3fr;

    button {
        cursor: pointer;
    }
}

.translate-box {
    // Fills whole width if its parent has 'display-flex'
    width: 100%;
    height: 90px;
    padding: 0.5rem;
    font-size: 1.25rem;
}

.language-select  {
    grid-area: language-select;
    font-size: 1.5rem;
    /* top right bottom left */
    padding-top: 1rem 1rem 1.75rem 1rem;

    .inner-lang-select {
        /* https://stackoverflow.com/questions/31000885/align-an-element-to-bottom-with-flexbox */
        align-self: flex-end;
    }
    
    select {
        font-size: 1.1rem;
    }
}

.box-1 {
    grid-area: box-1;
}

.box-2 {
    grid-area: box-2;
}

.box-3 {
    grid-area: box-3;
}

.box-4 {
    grid-area: box-4;
}

.add-btn{
    grid-area: add-btn;
    padding: 0.5rem;
}

.box-5 {
    grid-area: box-5;
}

/* Vertical and Horizontal centering for button within a div*/
.btn-wrapper {
    display: flex;
    justify-content: center;
}

.header,
.content,
.sidebar,
.box-1,
.box-2,
.box-3 {
    padding: 0.75rem;
}

.box-4 {
    padding: 0rem 1rem;
}

/* Create class for Header and Footer to be centered */
.text-center {
    text-align: center
}

.flag {
    border: 1px solid black;
    width: 3rem;
    height: 2rem;
}

.previous-translations-grid {
    padding-top: 20px;
    width: 100%;
}
.table-row-recent-translation {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr 3fr 1fr 1fr;
    min-height: 40px;
    max-height: 60px;
}
.table-cell-symbol {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center; /* Vertically aligns */
    justify-content: center; /* Horizontally aligns */
    border-radius: 10px;
}


/* 6: LIST */
.my-words-table-list-page-container table {
    margin-bottom: 1rem;

    grid-template-columns: 3fr 8fr 1fr 1fr 1fr;

    th,
    td {
        padding-left: 10px;
        
        /* https://stackoverflow.com/questions/15909489/text-overflow-ellipsis-on-two-lines */
        display: -webkit-box;
        
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.padding-top-table-29 {
    padding-top: 50px;
}

/* 7: EDIT */
/* All of Edit CSS is inline at the moment */


/* 8: CHALLENGE */
.flag-container-bar-at-top-14 {
    padding-top: 20px;
}
.table-challenge-english {
    width: 100%;
}
.table-row-challenge-page {
    width: 100%;
    display: grid;
    height: 100px;
}
.table-row-challenge-english {
    grid-template-columns: 12fr 4fr 1fr 1fr 1fr;
}
.table-row-challenge-foreign {
    grid-template-columns: 6fr 6fr 1fr 1fr 1fr;
}
.table-cell-symbol {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center; /* Vertically aligns */
    justify-content: center; /* Horizontally aligns */
    border-radius: 10px;
}
.table-cell-text-73 {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    line-height: 25px;
    max-height: 100px;
    align-items: center; /* Vertically aligns */
}
.challenge-text-size-74 {
    font-size: 1.05rem;
}
.write-guess-text-input-949 {
    width: 200px;
    height: 30px;
    margin: 0 10px;
    padding-left: 10px;
    border-radius: 15px;
    border: 1px solid #333;
    font-size: 1.05rem;
}
.absolute-bottom-and-center-btn-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.absolute-bottom-and-center-btn-inner-container {
    position: absolute;
    bottom: 80px;
    padding-bottom: 10px;
}
.absolute2-bottom-and-center-btn-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.center-btn-container-flexbox-13 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-btn-challenge {
    cursor: pointer;
    background-color: #48954e;
    color: #fff;
    padding: 0.5rem 1.5rem;
    font-size: 1.10rem;
    border-radius: .40rem;             
}

.min-height-table-16 {
    min-height: 600px;
}

.first-col-padding-left-74 {
    padding-left: 10px;
}

/* 9: RESULTS */
.results-table-container {
    width: 100%;
}
.results-table-foreign {
    width: 100%;
}
.english-results-grid {
    display: grid;
    grid-template-columns: 9fr 3fr 1fr 1fr 1fr;
}
.foreign-results-grid {
    display: grid;
    grid-template-columns: 4fr 4fr 3fr 1fr 1fr 1fr;
}
.list-page-grid-english {
    display: grid;
    grid-template-columns: 2fr 8fr 1fr 1fr 1fr;
}
.list-page-grid-foreign {
    display: grid;
    grid-template-columns: 3fr 8fr 1fr 1fr 1fr;
}
.table-header-results-and-list-page {
    background-color: $secondary-color;
    color: set-text-color($secondary-color);
    font-size: 1.2rem;
    font-weight: 600;
    height: 50px;
    padding-bottom: 0.50rem;
    position: sticky;
    text-align: left;
}
.table-cell-text-73 {
    width: 100%;
    height: 100%;
    display: flex;
    margin: auto;
    align-items: center; /* Vertically aligns */
}
.table-row-results-and-list-page {
    border: 1px solid #dee2e6; /* Size, Type, Color */
    width: 100%;
    max-height: 100px;
    min-height: 40px;
}
.results-box-1-of-2 {
    min-height: 700px;
}
.results-box-2-of-2 {
    height: 100px;
}
.next-btn-wrapper-results {
    display: flex;
    justify-content: center; /* Horizontally aligns */
    padding-top: 30px;
    height: 50%;
}
.next-btn-results {
    cursor: pointer;
    background-color: $primary-color;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: .25rem;                    
}


/* ?: ERROR PAGES */
.error-page {
    width: 100%;
    height: 100vh;
    line-height: 1.4;
    padding: 110px 40px;
    text-align: center;
    background-color: #f6f6f6;

    .error-page-404 {
        position: relative;
        height: 180px;

        h1 {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            font-size: 165px;
            font-weight: 700;
            margin: 0px;
            color: #262626;
            text-transform: uppercase;

            >span {
                color: $secondary-color;
            }
        }
    }

        h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            color: #151515;
            margin-top: 0px;
            margin-bottom: 25px;
        }

    }


/* PAGINATION */
.pagination-wrapper-inner {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 100px; bottom: 100px;
    margin: 0 calc(0.5 * 600px);
    padding-bottom: 10px;
}

.list-style-none-pagination {
    list-style: none;
    display: flex;
    padding-left: 0;
    border-radius: .25rem;
}

.pagination-page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    /* $quaternary-color  */
    color: #486995;
    background-color: #fff;
    border: 1px solid #dee2e6;

    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.raquo-and-laquo {
    position: relative;
    line-height: 1.25;
    border: 1px solid #dee2e6;
    padding: .5rem .75rem;
    float: left;
    width: auto;
    border: none;
    display: block;
}

.raquo-and-laquo:hover {
    background-color: #d9d9d9;
}

.pagination-page-link:hover {
    background-color: #d9d9d9;
}

.pagination-active {
    color: #48954e;
    font-weight: 600;
    font-size: 18px;
}

.pagination-disabled {
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    opacity: 0.25;
}


.icon-selected {
    color: $secondary-color;
}

/* Navbar */
.navbar-link-active {
    background-color: #48954e;
    color: #fff;
}

.no-saved-words-message-div {
    padding-top: 30px;
}


/* Added on 5 December 2020 */
.definition-page-container {
    min-height: 500px;
}

.defined-word-content-header {
    font-size: 2.5rem;
    font-weight: 600;
}

.word-pronunication-ipa-span-content {
    font-size: 1.25rem;
}

.definition-page-header-two-container {
    padding-top: 1.25rem;
    border-top: 1px solid #000;
}

.definition-page-header-two {
    font-weight: 350;
    font-size: 1.35rem;
}

.ordered-and-unordered-lists {
    padding-left: 2rem;
}    

.left-indent-definition-page {
    padding-left: 0.75rem;
}

.list-item-definition-page-bullets {
    list-style-type: square;
}

.translation-table-grid-972 {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 55px 400px;
    padding: 0.25rem 0.75rem;
}

.translation-table-grid-item {
    padding: 0.1rem;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    text-align: left;
    font-weight: 500;
    font-size: 1.1rem;
}

.add-to-or-update-dict-btn-wrapper {
    padding: 0.75rem; /* Used for Definition and Edit Page */
}

.trash-extra-padding {
    padding: 0px 3px; /* Extra padding as trash icon is slightly smaller */
}

.tooltip-container:hover .tooltiptext {
    visibility: visible; /* Show tooltip text when you mouse over the tooltip container */
}

.tooltip-container {
    position: relative;
    display: inline-block;
    padding: 0.5rem;
}

.tooltip-container .tooltiptext {
    visibility: hidden;
    background-color: #0F222D;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px; /* Tooltip text */
    top: 70%;
    left: 50%;
    margin-left: -60px
}

.defined-word-content-header {
    font-size: 2.5rem;
    font-weight: 600;
}

/* 7: EDIT */
.edit-grid {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 2fr 8fr 2fr 3fr;
    grid-gap: 0.25rem;
    height: 700px;
    grid-row-gap: 50px;
}

.edit-page-add-button {
    cursor: pointer;
}

.edit-page-translation-table-grid-972 {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 60px 150px;
}

.translation-table-grid-item-973 {
    padding: 0.1rem;
    background-color: #f4f4f4;
    text-align: left;
    font-weight: 500;
    font-size: 1.1rem;
}

/* Keyboard with International Accents */
.keyboard-container-inner-18 {
    border-radius: 0.75rem;
    border: 2px dotted #fff;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: center; /* Horizonatally centered */
    margin: 12px;
    padding: 3px;
    width: 80%;
}

.keyboard-row-19 {
    display: inline;
    padding: 3px;
}

.accent-key-20 {
    -webkit-transition: transform .1s ease-in;
    align-items: flex-start;
    background-color: #FDEAA0;;
    border-color: #0F222D;
    border-radius: 0.55rem;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-right: 3px;
    padding: 1px 3px;
    text-align: center;
    text-rendering: auto;
    transition: transform .1s ease-in,box-shadow .1s ease-in;
    vertical-align: middle;
    width: 35px;
}

.accent-key-20:active:hover {
    background-color: #3276B1;  
}

.flag-container-bar-at-top-14 {
    padding-top: 50px;
    padding-bottom: 20px;
}

.success-fail-stats-container {
    width: 60px;
    display: flex;
    margin: auto;
    align-items: center; /* Vertically aligns */
    justify-content: center; /* Horizontally aligns */
    background-color: yellow;
    border: 1px solid brown;
    border-radius: 10px;
}

/* Macros */
.word-success-green {
    color: #48954e;
}

.word-fail-red {
    color: #c41e3a;
}

.statistics-box-text-91 {
    font-size: 1.20rem;
    font-weight: 550;
    padding: 2px;
}

/* Used for Submit Buttons and Pagination */
.absolute-bottom-and-center-btn-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.dropdown-select-min-width-942 {
    min-width: 120px;
}

.submit-btn-select-target-word {
    cursor: pointer;
    background-color: #48954e;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: .35rem;             
}

.upload-examples-btn {
    cursor: pointer; /* Upload Page */
    background-color: $primary-color;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: .35rem;
}

/* Upload Page */
.upload-form-grid {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr 12fr 1fr;
    grid-gap: 10px;
    background-color: #f3f3f3;
}
.upload-1-language-drop-down{
    grid-column-start: 1;
    grid-column-end: 4;
}
.upload-header {
    font-size: 1.5rem;
}    
.upload-text-area-left {
    height: 500px;
    width: 550px;
    display: block;
    padding: 10px;
    font-size: 1.25rem;
}
.upload-text-area-right {
    height: 500px;
    width: 400px;
    display: block;
    padding: 10px;
    font-size: 1.25rem;
}
select {
    font-size: 1.1rem;
}
.upload-form-container {
    padding: 20px;
}
.absolute-bottom-and-center-btn-outer-container {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}
.absolute-bottom-and-center-btn-inner-container {
    position: absolute;
    bottom: 90px;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
}
.btn-125-font-size {
    font-size: 1.25rem;
}


/* Profile */
#javascript-accordion {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.float-container-profile-45 {
    border: 3px solid #fff;
    padding: 20px;
    width: 40%;
}

.float-child-profile-46 {
    width: 50%;
    height: 70px;
    float: left;
    padding: 15px;
}

.asfd21 {
    background-color: orange;
    width: 50%;
    padding-bottom: 4px;
}

.asfd22 {
    background-color: green;
    padding-top: 4px;
    width: 50%;
    float: right;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px; /* Rounded sliders */
}

.slider.round:before {
    border-radius: 50%;
}

.woohdi-60 {
    border: 1px dotted blue;
    width: 20%;
}

.pl82020-profile-page-placeholder { /* What is this ?? */
    display: inline;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid #333;
}

flag-container-profile-page-71 {
    height: 100%;
    border: 1px solid green;
}

switch-container-profile-page-72 {
    height: 100%;
    border: 1px solid red;
}

.flags-preferences-wrapper {
    padding: 30px 0 ;
}

.update-preferences-btn-wrapper {
    padding-top: 30px;
}

.instructions-for-user {
    font-size: 1.25rem;
    padding-left: 0.75rem;
    font-size: 1.10rem;
}

/* Footer */

/* 2: FOOTER */
.footer-container {
    background-color: $primary-color;
    color: set-text-color($dark-color);
    overflow: hidden;
    text-align: center;
    height: 80px;
    width: 100%;

    .footer-links {
        padding: 15px 0 10px;
        overflow: hidden;
        display: inline-block;
    }
    
    .footer-links li {
        float: left;
        padding: 0 10px;
        border-left: 1px solid #797575;
        font-weight: bold;
    
        a {
            font-size: 11px;
            color: set-text-color($dark-color);
        }
    }
    
    .footer-links li.first-footer-link-no-left-border {
        border-left-width: 0;
    }
    
    p.copyright {
        padding-bottom: 10px;
        font-size: 9px;
        color: set-text-color($dark-color);
    
        a {
            font-size: 9px;
            color: set-text-color($dark-color);
        }
    }
}

/* Base html */
.page-content {
    width: 100%;
    min-height: calc(100vh - 160px);
}


/* NAVBAR */

.navbar-grid-container {
    padding-top: 10px;
    height: 80px;
    position: sticky;
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    align-items: center;
    margin: 0 auto;
    background-color: #f3f3f3;
    width: 100%;
    width: 1100px;
}
.plc800 {
    padding: 5px 0px;
    background-color: #f3f3f3;
    height: 100%;
    width: 350px;
    margin: auto;
}
.plc801 {
    height: 100%;
    width: 100%;
    display: flex;
}
.plc802 {
    float: left;
    height: 100%;
    width: 250px;
}
.plc803 {
    float: right;
    height: 100%;
    width: 100px;
}
.nav-search-bar-input-element {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    height: 100%;
    font-family: 'Lato', sans-serif;
    outline: none;
    font-size: 1.1rem;
    padding-left: 10px;
    width: 100%;
    border-right: none;
    border-color: #000;                
}
.navbar-magnifying-glass-search {
    height: 100%;
    cursor: pointer;
    width: 100%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-color: #000;                
    border-left: none;
    background: #f3f3f3;                
}

/* SELECT TARGET WORD */
.target-word-selected {
    background-color: #48954e;
    color: #fff;
    font-weight: 600;
    
}

.select-target-word-button-container {
    background-color: orange;
}

.select-target-word-button {
    cursor: pointer;
}


/* CONTACT US PAGE */
/* https://www.w3schools.com/howto/howto_css_contact_form.asp */
.contact-us-input {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
.submit-btn-contact-us {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
.submit-btn-contact-us:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact-us-page-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}


/* NAVBAR DROPDOWN */
/* Dropdown Button */
.nav-drop-btn-32 {
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.nav-dropdown-container-31 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.nav-dropdown-content-33 {
    display: none;
    position: absolute;
    right: 0;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.nav-dropdown-content-33 a {
    padding: 12px 16px;
    display: block;
}

/* Show the dropdown menu on hover */
.nav-dropdown-container-31:hover .nav-dropdown-content-33 {
    display: block;
}

/* Util */
.no-border-btn {
    border: none;
    cursor: pointer;
}