@import 'config';
@import 'utilities';
@import 'media_queries';
@import 'auth';

/* 0: WHAT IS THIS CALLED */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
    cursor: pointer;
}

/* 1: NAVBAR */
.navbar-grid-container {



    .logo {
        width: 180px;
    }

    .search-bar-container {

        form {
            width: 100%;
            height: 100%;
        }

    }

    .navbar-links {
        .navbar-link-active {
            background: $green-color;
            color: set-text-color($green-color);
        }
    }

    ul {
        justify-self: end;
        display: flex;

        li {
            a {
                padding: 0.75rem;
                font-weight: bold;
            }
        }

        a {
            &.current {
                background: $primary-color;
                color: set-text-color($primary-color);
            }

            &.login-nav-icon {
                background: $green-color;
                color: set-text-color($green-color);
            }

            &.logout-nav-icon {
                background: $primary-color;
                color: set-text-color($primary-color);
            }

            &:hover {
                background: $light-color;
                color: $dark-color;
            }
        }
    }
}


/* 2: FOOTER */
.footer {

    .footer-links {
        padding: 15px 0 10px;
        overflow: hidden;
        display: inline-block;
    }
    
    .footer-links li {
        float: left;
        padding: 0 10px;
        border-left: 1px solid #797575;
        font-weight: bold;
    
        a {
            font-size: 11px;
            color: set-text-color($dark-color);
        }
    }
    
    .footer-links li.first {
        border-left-width: 0;
    }
    
    p.copyright {
        padding-bottom: 10px;
        font-size: 9px;
        color: set-text-color($dark-color);
    
        a {
            font-size: 9px;
            color: set-text-color($dark-color);
        }
    }
}


/* 3: HOMEPAGE */
.showcase {
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative;

    &:before {
        content: '';
        background: url('../img/photo_01.jpeg') no-repeat center center/cover;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.4;
    }

    .showcase-container {
        display: grid;
        /* We only have one item, but we want to make space for another item */
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        height: 50vh;
    }

    .showcase-content {
        /* Make text overlap background image with z-index*/
        z-index: 1;

        p {
            margin-bottom: 1rem;
        }
    }
}

.home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two in a row
    grid-gap: 1rem;
}


/* ?? DEFINITION and EDIT */
.definition-page-container, .edit-page-container {
    > div {
        padding: 0.5rem 0rem;
    }
}

.add-dict-btn-wrapper {
    padding: 1rem 0rem;
}
  
/* Used for the Definition and Edit Pages */
.definition-example-text-box-container {
    padding-left: 0.75rem;

    textarea {
        border-style: solid;
        border-width: 2px;
        cursor: text;
        display: inline-block;
        font-size: 1.25rem;
        height: 100px;
        margin: 0rem;
        padding: 2px;
        resize: auto;
        text-align: start;
        text-rendering: auto;
        width: 900px;
    }
}

/* 5: TRANSLATE */
.translate-grid {
    display: grid;
    grid-template-areas:
        'language-select language-select language-select'
        'box-1 box-2 box-3'
        'box-4 box-4 add-btn'
        'box-5 box-5 box-5';
    grid-gap: 1rem;

    width: 100%;
    height: 400px;
    grid-template-rows: 1fr 6fr 3fr 6fr;
    grid-template-columns: 3fr 1fr 3fr;

    button {
        cursor: pointer;
    }
}

.translate-box {
    // Fills whole width if its parent has 'display-flex'
    width: 100%;
    height: 90px;
    padding: 0.5rem;
    font-size: 1.25rem;
}

.language-select  {
    grid-area: language-select;
    font-size: 1.5rem;
    /* top right bottom left */
    padding-top: 1rem 1rem 1.75rem 1rem;

    .inner-lang-select {
        /* https://stackoverflow.com/questions/31000885/align-an-element-to-bottom-with-flexbox */
        align-self: flex-end;
    }
    
    select {
        font-size: 1.1rem;
    }
}

.box-1 {
    grid-area: box-1;
}

.box-2 {
    grid-area: box-2;
}

.box-3 {
    grid-area: box-3;
}

.box-4 {
    grid-area: box-4;
}

.add-btn{
    grid-area: add-btn;
    padding: 0.5rem;
}

.box-5 {
    grid-area: box-5;
}

/* Vertical and Horizontal centering for button within a div*/
.btn-wrapper {
    display: flex;
    justify-content: center;
}

.header,
.content,
.sidebar,
.box-1,
.box-2,
.box-3 {
    padding: 0.75rem;
}

.box-4 {
    padding: 0rem 1rem;
}

/* Create class for Header and Footer to be centered */
.text-center {
    text-align: center
}

.flag {
    border: 1px solid black;
    width: 3rem;
    height: 2rem;
}


/* 6: LIST */
.my-words-table-list-page table {
    margin-bottom: 1rem;

    grid-template-columns: 3fr 8fr 1fr 1fr 1fr;

    th,
    td {
        padding: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.my-words-foreign table {
    grid-template-columns: 5fr 5fr 1fr 1fr;

    th,
    td {
        padding: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

/* 7: EDIT */
/* All of Edit CSS is inline at the moment */



/* 8: CHALLENGE */


.table-challenge-foreign {
    display: grid;
    grid-template-columns: 7fr 7fr 1fr 1fr 1fr;

    input[type='text'] {
        width: 300px;
        padding: 0.25rem;
        border-radius: .20rem;
        margin-bottom: .15rem;
        font-size: 1.05rem;
    }
}

.challenge-form {
    height: 100%;
}


/* 9: RESULTS */
.results-table-english {
    table {
        grid-template-columns: 9fr 3fr 3fr 1fr 1fr 1fr 1fr;
    }
}

.results-table-foreign {
    table {
        grid-template-columns: 5fr 5fr 5fr 1fr 1fr 1fr 1fr;
    }
}


/* ?: ERROR PAGES */
.error-page {
    width: 100%;
    height: 100vh;
    line-height: 1.4;
    padding: 110px 40px;
    text-align: center;
    background: #f6f6f6;

    .error-page-404 {
        position: relative;
        height: 180px;

        h1 {
            font-family: 'Roboto', sans-serif;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            font-size: 165px;
            font-weight: 700;
            margin: 0px;
            color: #262626;
            text-transform: uppercase;

            >span {
                color: $secondary-color;
            }
        }
    }

        h2 {
            font-family: 'Roboto', sans-serif;
            font-size: 22px;
            font-weight: 400;
            text-transform: uppercase;
            color: #151515;
            margin-top: 0px;
            margin-bottom: 25px;
        }

    }


/* PAGINATION */
.pagination-wrapper-inner {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 100px; bottom: 100px;
    margin: 0 calc(0.5 * 600px);
    padding-bottom: 10px;
}

.list-style-none {
    list-style: none;
    display: flex;
    padding-left: 0;
    border-radius: .25rem;
}

.pagination-page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    line-height: 1.25;
    /* $quaternary-color  */
    color: #486995;
    background-color: #fff;
    border: 1px solid #dee2e6;

    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

.raquo-and-laquo {
    position: relative;
    line-height: 1.25;
    border: 1px solid #dee2e6;
    padding: .5rem .75rem;
    float: left;
    width: auto;
    border: none;
    display: block;
}

.raquo-and-laquo:hover {
    background-color: #d9d9d9;
}

.pagination-page-link:hover {
    background-color: #d9d9d9;
}

.pagination-active {
    color: #48954e;
    font-weight: 600;
    font-size: 18px;
}

.pagination-disabled {
    pointer-events: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* IE 10 and IE 11 */
    user-select: none;
    opacity: 0.25;
}


.icon-selected {
    color: $secondary-color;
}

/* Navbar */
.navbar-link-active {
    background-color: #48954e;
    color: #fff;
}

.no-saved-words-message-div {
    padding-top: 30px;
}


/* Added on 5 December 2020 */
.definition-page-container {
    min-height: 500px;
}

.defined-word-content-header {
    font-size: 2.5rem;
    font-weight: 600;
}

.word-pronunication-ipa-span-content {
    font-size: 1.25rem;
}

.definition-page-header-two-container {
    padding-top: 1.25rem;
    border-top: 1px solid #000;
}

.definition-page-header-two {
    font-weight: 350;
    font-size: 1.35rem;
}

.ordered-and-unordered-lists {
    padding-left: 2rem;
}    

.left-indent-definition-page {
    padding-left: 0.75rem;
}

.list-item-definition-page-bullets {
    list-style-type: square;
}

.translation-table-grid-972 {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 55px 400px;
    padding: 0.25rem 0.75rem;
}

.translation-table-grid-item {
    padding: 0.1rem;
    background: #f4f4f4;
    border: 1px solid #ccc;
    text-align: left;
    font-weight: 500;
    font-size: 1.1rem;
}

.add-to-or-update-dict-btn-wrapper {
    padding: 0.75rem; /* Used for Definition and Edit Page */
}

.trash-extra-padding {
    padding: 0px 3px; /* Extra padding as trash icon is slightly smaller */
}

.tooltip-container:hover .tooltiptext {
    visibility: visible; /* Show tooltip text when you mouse over the tooltip container */
}

.tooltip-container {
    position: relative;
    display: inline-block;
    padding: 0.5rem;
}

.tooltip-container .tooltiptext {
    visibility: hidden;
    background-color: #0F222D;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px; /* Tooltip text */
    top: 70%;
    left: 50%;
    margin-left: -60px
}

.success-fail-stats-container {
    width: 60px;
    display: flex;
    margin: auto;
    align-items: center; /* Vertically aligns */
    justify-content: center; /* Horizontally aligns */
    background-color: yellow;
    border: 1px solid brown;
    border-radius: 10px;
}

.word-success-green {
    color: #48954e;
}

.word-fail-red {
    color: red;
}

.defined-word-content-header {
    font-size: 2.5rem;
    font-weight: 600;
}

/* 7: EDIT */
.edit-grid {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 2fr 8fr 2fr 3fr;
    grid-gap: 0.25rem;
    height: 700px;
    grid-row-gap: 50px;
}

.edit-page-add-button {
    cursor: pointer;
}

.edit-page-translation-table-grid-972 {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 60px 150px;
}

.translation-table-grid-item-973 {
    padding: 0.1rem;
    background: #f4f4f4;
    text-align: left;
    font-weight: 500;
    font-size: 1.1rem;
}

/* Keyboard with International Accents */
.keyboard-container-inner-18 {
    border-radius: 0.75rem;
    border: 2px dotted #fff;
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    justify-content: center; /* Horizonatally centered */
    margin: 12px;
    padding: 3px;
    width: 30%;
}

.keyboard-row-19 {
    display: inline;
    padding: 3px;
}

.accent-key-20 {
    -webkit-transition: transform .1s ease-in;
    align-items: flex-start;
    background-color: #FDEAA0;;
    border-color: #0F222D;
    border-radius: 0.55rem;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-right: 3px;
    padding: 1px 3px;
    text-align: center;
    text-rendering: auto;
    transition: transform .1s ease-in,box-shadow .1s ease-in;
    vertical-align: middle;
    width: 35px;
}

.accent-key-20:active:hover {
    background-color: #3276B1;  
}

.flag-container {
    padding-top: 20px;
}

.word-success-green {
    color: #48954e;
}

.word-fail-red {
    color: #c41e3a;
}

/* Used for Submit Buttons and Pagination */
.absolute-bottom-and-center-btn-outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.dropdown-select-min-width-942 {
    min-width: 120px;
}

.submit-btn-select-target-word {
    cursor: pointer;
    background-color: #48954e;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: .35rem;             
}

.upload-examples-btn {
    cursor: pointer; /* Upload Page */
    background-color: $primary-color;
    color: #fff;
    padding: 0.5rem 1.5rem;
    border-radius: .35rem;
}