{% from "_macros.html" import flag with context %}

<style>
    .flag-container {
        padding-top: 20px;
    }
</style>
    
<div class="flag-container">
    {{ flag('main.list', 'en', "img/flags/en.png") }}
    {{ flag('main.list', 'de', "img/flags/de.png") }}
    {{ flag('main.list', 'it', "img/flags/it.png") }}
    {{ flag('main.list', 'pt', "img/flags/pt.png") }}
    {{ flag('main.list', 'pl', "img/flags/pl.png") }}
    {{ flag('main.list', 'la', "img/flags/la.png") }}
    {{ flag('main.list', 'fr', "img/flags/fr.png") }}
    {{ flag('main.list', 'el', "img/flags/el.png") }}
</div>