<style>
    .flag-container {
        padding-top: 20px;
    }
</style>
    
<div class="flag-container">
    <a href="{{ url_for('main.list', lng='en') }}"><img src="{{url_for('static', filename='img/flags/en.png')}}" alt="flag-en" class="flag"></a>
    <a href="{{ url_for('main.list', lng='es') }}"><img src="{{url_for('static', filename='img/flags/es.png')}}" alt="flag-es" class="flag"></a>
    <a href="{{ url_for('main.list', lng='de') }}"><img src="{{url_for('static', filename='img/flags/de.png')}}" alt="flag-de" class="flag"></a>
    <a href="{{ url_for('main.list', lng='it') }}"><img src="{{url_for('static', filename='img/flags/it.png')}}" alt="flag-it" class="flag"></a>
    <a href="{{ url_for('main.list', lng='pt') }}"><img src="{{url_for('static', filename='img/flags/pt.png')}}" alt="flag-pt" class="flag"></a>
</div>