{% from "_macros.html" import flag with context %}

<style>
.flag-container {
    padding-top: 20px;
}
</style>

<div class="flag-container">
    {{ flag('main.challenge', 'en', "img/flags/en.png") }}
    {{ flag('main.challenge', 'de', "img/flags/de.png") }}
    {{ flag('main.challenge', 'it', "img/flags/it.png") }}
    {{ flag('main.challenge', 'pt', "img/flags/pt.png") }}
    {{ flag('main.challenge', 'pl', "img/flags/pl.png") }}
    {{ flag('main.challenge', 'la', "img/flags/la.png") }}
    {{ flag('main.challenge', 'fr', "img/flags/fr.png") }}
    {{ flag('main.challenge', 'el', "img/flags/el.png") }}
</div>
