{% from "_macros.html" import nav_link with context %}

<div class="main-navbar">
    <div class="navbar-grid-container">
        <div class="logo-wrapper">
            <a href="{{ url_for('main.index') }}" tabindex="-1">
            <img src="{{url_for('static', filename='img/08_mologos_blue_550x160.png')}}" alt="logo" class="logo"></a>
        </div>
        <style>
            .navbar-grid-container {
                height: 100px;
                position: sticky;
                display: grid;
                grid-template-columns: 4fr 4fr 4fr;
                align-items: center;
                margin: 0 auto;
                background: #f3f3f3;
                width: 100%;
                background-color: yellow;
                width: 900px;
            }
            .plc800 {
                background: blue;
                height: 100%;
                width: 100%;
            }
            .plc801 {
                height: 100%;
                width: 100%;
                background: orange;
            }
            .plc802 {
                display: inline;
                height: 100%;
                width: 50%
            }
            .plc803 {
                display: inline;
                height: 100%;
                width: 50%
            }
            .nav-search-bar {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                height: 100%;
                width: 100px;
            }

            .navbar-magnifying-glass-search {
                height: 100%;
                cursor: pointer;
                width: 30%;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
            }
        </style>
        
        <div class="search-bar-container plc800 flex-container items-center">
            <div class="plc801">
                <form action="/definition" method="POST">
                    <div class="plc802">
                        <input class="nav-search-bar" name="word-to-lookup" type="search" placeholder="Look up a definition..." aria-label="Search">
                    </div>
                    <div class="plc803">
                        <button class="navbar-magnifying-glass-search" type="submit" class="btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="navbar-links flex-container items-right">
            <ul>
                {% if current_user.is_authenticated %}
                    {{ nav_link('main.list', 'en', 'list') }}
                    {{ nav_link('main.challenge', 'en', 'challenge') }}
                    {{ nav_link('main.translate', 'en', 'translate') }}
                    <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out-alt"></i></a></td>
                {% else %}
                    <li><a class="login-nav-icon" href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>