{% from "_macros.html" import nav_link with context %}

<div class="main-navbar">
    <div class="navbar-grid-container">
        <div class="logo-wrapper">
            <a href="{{ url_for('main.index') }}" tabindex="-1">
            <img src="{{url_for('static', filename='img/08_mologos_blue_550x160.png')}}" alt="logo" class="logo"></a>
        </div>
        <style>
            .navbar-grid-container {
                padding-top: 10px;
                height: 80px;
                position: sticky;
                display: grid;
                grid-template-columns: 4fr 4fr 4fr;
                align-items: center;
                margin: 0 auto;
                background-color: #f3f3f3;
                width: 100%;
                width: 1100px;
            }
            .plc800 {
                padding: 5px 0px;
                background-color: #f3f3f3;
                height: 100%;
                width: 350px;
                margin: auto;
            }
            .plc801 {
                height: 100%;
                width: 100%;
                display: flex;
            }
            .plc802 {
                float: left;
                height: 100%;
                width: 250px;
            }
            .plc803 {
                float: right;
                height: 100%;
                width: 100px;
            }
            .nav-search-bar-input-element {
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                height: 100%;
                font-family: 'Lato', sans-serif;
                outline: none;
                font-size: 1.1rem;
                padding-left: 10px;
                width: 100%;
                border-right: none;
            }
            .navbar-magnifying-glass-search {
                height: 100%;
                cursor: pointer;
                width: 100%;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                border-left: none;
                background: #f3f3f3;                
            }
        </style>
        
        <div class="search-bar-container plc800 flex-container items-center">
            <div class="plc801">
                <form action="/definition" method="POST">
                    <div class="plc802">
                        <input class="nav-search-bar-input-element" name="word-to-lookup" type="search" placeholder="Look up a definition..." aria-label="Search">
                    </div>
                    <div class="plc803">
                        <button class="navbar-magnifying-glass-search" type="submit" class="btn">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        
        <div class="navbar-links flex-container items-right">
            <ul>
                {% if current_user.is_authenticated %}
                    {{ nav_link('main.list', 'en', 'list') }}
                    {{ nav_link('main.challenge', 'en', 'challenge') }}
                    {{ nav_link('main.translate', 'en', 'translate') }}
                    {{ nav_link('main.profile', 'en', 'profile') }}
                    <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out-alt"></i></a></td>
                {% else %}
                    <li><a class="login-nav-icon" href="{{ url_for('auth.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>