<!-- NAVBAR LINK MACRO -->
<style>
    .navbar-link-active {
        background: #48954e !important;
        color: #fff !important;
    }

    .plc901 {
        width: 100px;
    }
</style>

{% macro nav_link(endpoint, language, name) %}
{% if request.endpoint.endswith(endpoint) %}
<div class="plc901">
    <li class="navbar-link-active"><a class="navbar-link-active" href="{{ url_for(endpoint, lng='en') }}">
        {{ name[0]|upper}}{{name[1:]}}
    </a></li>
</div>
{% else %}
<div class="plc901">
    <li><a href="{{ url_for(endpoint, lng='en') }}">{{ name[0]|upper}}{{name[1:]}}</a></li>
</div>
{% endif %}
{% endmacro %}


<!-- PAGINATION MACRO -->
{% macro pagination_widget(pagination, endpoint, lng, fragment='') %}
<style>
    .pagination-wrapper-inner {
        display: flex;
        justify-content: center;
    }

    .list-style-none {
        list-style: none;
        display: flex;
        padding-left: 0;
        border-radius: .25rem;
    }

    .pagination-page-link {
        position: relative;
        display: block;
        padding: .5rem .75rem;
        line-height: 1.25;
        /* $quaternary-color  */
        color: #486995;
        background-color: #fff;
        border: 1px solid #dee2e6;

        padding: 8px 16px;
        float: left;
        width: auto;
        border: none;
        display: block;
        outline: 0;
    }

    .raquo-and-laquo {
        position: relative;
        line-height: 1.25;
        border: 1px solid #dee2e6;
        padding: .5rem .75rem;
        float: left;
        width: auto;
        border: none;
        display: block;
    }

    .raquo-and-laquo:hover {
        background-color: #d9d9d9;
    }

    .pagination-page-link:hover {
        background-color: #d9d9d9;
    }

    .pagination-active {
        color: #48954e;
        font-weight: 600;
        font-size: 18px;
    }

    .pagination-disabled {
        pointer-events: none;
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* IE 10 and IE 11 */
        user-select: none;
        opacity: 0.25;
    }
</style>

<div class="pagination-wrapper-inner">
    <ul class="list-style-none">
        <li{% if not pagination.has_prev %} class="disabled" {% endif %}>
            <a class="raquo-and-laquo"
                href="{% if pagination.has_prev %}{{ url_for(endpoint, lng=lng, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                &laquo;
            </a>
            </li>
            {% for p in pagination.iter_pages() %}
            {% if p %}
            {% if p == pagination.page %}
            <li>
                <a class="pagination-page-link pagination-active"
                    href="{{ url_for(endpoint, lng=lng, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a class="pagination-page-link"
                    href="{{ url_for(endpoint, lng=lng, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="pagination-disabled"><a href="#">&hellip;</a></li>
            {% endif %}
            {% endfor %}
            <li{% if not pagination.has_next %} class="disabled" {% endif %}>
                <a class="raquo-and-laquo"
                    href="{% if pagination.has_next %}{{ url_for(endpoint, lng=lng, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                    &raquo;
                </a>
            </li>
    </ul>
</div>
{% endmacro %}


<!-- GENERATE FLAG MACRO -->
{% macro generate_flag(endpoint, country, filename) %}
<a href="{{ url_for(endpoint, lng=country) }}"><img src="{{ url_for('static', filename=filename) }}" alt="flag-{{ country }}" class="flag"></a>
{% endmacro %}


<!-- NO SAVED WORDS MACRO -->
{% macro no_saved_words_message(endpoint, language, is_english) %}

<style>
    .no-words-message-div {
        padding-top: 30px;
    }
</style>

<div class="no-words-message-div">
    <p>You don't have any saved words or expressions in {{ language.lng_eng }}</p>

    {% if is_english %}
        <p>Use the Search Bar at the top of the page to add some!</p>
    {% else %}
        <p>Go to the <a class="link-color" href="{{ url_for('main.translate', lng=language) }}">translation</a> page to add some!</p>
    {% endif %}
</div>

{% endmacro %}