<!-- NAVBAR LINK MACRO -->
{% macro nav_link(endpoint, language, name, boolean_language) %}

{% if request.endpoint.endswith(endpoint) %}
<div class="plc901">
    {% if boolean_language %}
    <li><a class="navbar-link-active" href="{{ url_for(endpoint, lng='en') }}">{{ name[0]|upper}}{{name[1:]}}</a></li>
    {% else %}
    <li><a class="navbar-link-active" href="{{ url_for(endpoint) }}"> {{ name[0]|upper}}{{name[1:]}}</a></li>
    {% endif %}
</div>
{% else %}
<div class="plc901">
    {% if boolean_language %}
    <li><a href="{{ url_for(endpoint, lng='en') }}">{{ name[0]|upper}}{{name[1:]}}</a></li>
    {% else %}
    <li><a href="{{ url_for(endpoint) }}">{{ name[0]|upper}}{{name[1:]}}</a></li>
    {% endif %}
</div>
{% endif %}
{% endmacro %}


<!-- PAGINATION MACRO -->
{% macro pagination_widget(pagination, endpoint, lng, fragment='') %}
<div class="pagination-wrapper-inner">
    <ul class="list-style-none">
        <li{% if not pagination.has_prev %} class="disabled" {% endif %}>
            <a class="raquo-and-laquo"
                href="{% if pagination.has_prev %}{{ url_for(endpoint, lng=lng, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                &laquo;
            </a>
            </li>
            {% for p in pagination.iter_pages() %}
            {% if p %}
            {% if p == pagination.page %}
            <li>
                <a class="pagination-page-link pagination-active"
                    href="{{ url_for(endpoint, lng=lng, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a class="pagination-page-link"
                    href="{{ url_for(endpoint, lng=lng, page = p, **kwargs) }}{{ fragment }}">{{ p }}</a>
            </li>
            {% endif %}
            {% else %}
            <li class="pagination-disabled"><a href="#">&hellip;</a></li>
            {% endif %}
            {% endfor %}
            <li{% if not pagination.has_next %} class="disabled" {% endif %}>
                <a class="raquo-and-laquo"
                    href="{% if pagination.has_next %}{{ url_for(endpoint, lng=lng, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
                    &raquo;
                </a>
            </li>
    </ul>
</div>
{% endmacro %}


<!-- GENERATE FLAG MACRO -->
{% macro generate_flag(endpoint, country, filename) %}

{% set testing_variable = ('img/flags/{country}.png'.format(country=country)) %}

<a href="{{ url_for(endpoint, lng=country) }}"><img src="{{ url_for('static', filename=testing_variable) }}" alt="flag-{{ country }}" class="flag"></a>

{% endmacro %}


<!-- NO SAVED WORDS MACRO -->
{% macro no_saved_words_message(endpoint, language, is_english) %}
<div class="no-saved-words-message-div">
    <p>You don't have any saved words or expressions in {{ language.lng_eng }}</p>
    {% if is_english %}
        <p>Use the Search Bar at the top of the page to add some!</p>
    {% else %}
        <p>Go to the <a class="link-color" href="{{ url_for('main.translate', lng=language.code) }}">translation</a> page to add some!</p>
    {% endif %}
</div>
{% endmacro %}


<!-- SENTENCE CASE MACRO -->
<!-- Sentence case: the use of a capital letter at the beginning of a sentence -->
{% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}


<!-- EYE STAR BIN MACRO -->
{% macro eye_star_bin(word, lng_code) %}
<div class="tooltip-container">
    <a href="{{ url_for('main.olki_231', id=word.id, lng=lng_code, word=word.word, num849=0) }}"><i class="fa fa-eye-slash fa-2x {% if word.ignored %}icon-selected{% endif %}" onclick="toggleColor(this)"></i></a>
    <input type="hidden" id="eye-boolean" name="eye_boolean" value="0">
    <span class="tooltiptext">Hide From Challenges</span>
</div>

<div class="tooltip-container">
    <a href="{{ url_for('main.olki_231', id=word.id, lng=lng_code, word=word.word, num849=1) }}"><i class="fa fa-star fa-2x {% if word.starred %}icon-selected{% endif %}" onclick="toggleColor(this)"></i></a>
    <input type="hidden" id="star-boolean" name="star_boolean" value="{% if word.starred %}1{% else %}0{% endif %}">
    <span class="tooltiptext">Mark as Important</span>
</div>

<div class="tooltip-container">
    <a href="{{ url_for('main.delete', id=word.id, lng=lng_code) }}"><i class="fa fa-trash fa-2x trash-extra-padding"></i></a>
    <span class="tooltiptext">Delete</span>
</div>

<div class="tooltip-container">
    <div class="success-fail-stats-container">
        <a href="{{ url_for('main.challenge', lng=lng_code) }}">
            <span class="word-success">{{ word.success }}</span>
            v
            <span class="word-fail">{{ word.fail }}</span>
        </a>
    </div>
    <span class="tooltiptext">Statistics</span>
</div>
{% endmacro %}