<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mologos: {% block title %}{% endblock %}</title>

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

</head>

<!-- Body -->
<body>
<div id="main-container">


<!-- 1: NAVBAR -->
<nav id="main-nav">
    <div class="container">
        <a href="{{ url_for('main.index') }}">
            <img src="{{url_for('static', filename='img/08_mologos_blue_550x160.png')}}" alt="logo" class="logo"></a>
        <div class="flex-container items-center">
        <!-- <div> -->
            <form action="/definition" method="POST">
                <input id="nav-search-bar" name="word-to-lookup" type="search" placeholder="Look up a definition..." aria-label="Search">
                <button id="nav-btn" type="submit" class="btn">
                    <i class="fa fa-search"></i>
                </button>
            </form>            
            
        </div>
        <ul>
            <!-- Create active links through preferably Flask and Jinja. If you can't, then use JavaScript -->
            <!-- <li><a class="current" href="{{ url_for('main.index') }}">Home</a></li> -->
            {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.list', lng='en') }}">List</a></li>
                <li><a href="{{ url_for('main.challenge', lng='en') }}">Challenge</a></li>
                <li><a href="{{ url_for('main.translate') }}">Translate</a></li>
                <li><a href="{{ url_for('auth.logout') }}"><i class="fa fa-sign-out-alt"></i></a></td>
            {% else %}
                <li><a class="login-nav-icon" href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<!-- 2: MAIN PAGE -->
<div>
    <!-- 4: Page Content -->
    <div id="page-content" class="container min-height">
        {% block page_content %}
        {% endblock %}
    </div>
</div>

<!-- 5: FOOTER -->

<div id="footer">
    <div id="footer-links-wrapper">
        <ul class="footer-links">
            <li class="first"><a href="#">Help & Support</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p class="copyright">Copyright &copy; Mologos 2020, All Rights Reserved</a>.</p>			
    </div>
</div>

<!-- Scripts -->
{% block scripts %}

    <!-- Formatting of dates and times in Flask templates using moment.js. -->
    {{ moment.include_moment() }}

    <!-- Script to change height of page container according to screen height -->
    <script type="text/javascript">
        
        document.addEventListener("DOMContentLoaded", function() { 
            let homePage = document.getElementById("home-articles");

            if (!homePage) {
                /*  Navbar and Footer both have a height of 100px  */
                const navbar = 100;
                const footer = 100;
                let innerHeight = window.innerHeight;
                let mainContentHeight = innerHeight - navbar - footer;
                let heightInPixels = mainContentHeight.toString().concat('px');
            
                // Make the min height
                let pageContent = document.getElementById("page-content");
                pageContent.style.height = heightInPixels;
            }
        });
    </script>

    <script>
      function delete_flash(flash){
          $(flash).parent().remove()
      }
    </script>

{% endblock %}
</div>
</body>
</html>