{% import "_macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mologos{% block title %}{% endblock %}</title>

    {% block styles %}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    {% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>

<!-- Body -->
<body>

    <!-- 1: NAVBAR -->
    {% include 'partials/_navbar.html' %}

    <style>
        .page-content {
            width: 100%;
            min-height: calc(100vh - 160px);
        }
    </style>

    <div>
        <!-- PAGE CONTENT -->
        <div id="page-content" class="page-content container">
            {% block page_content %}
            {% endblock %}
        </div>
    </div>

    <style>
        .footer {
            width: 100%;
            background: #333;
            color: #fff;
            overflow: hidden;
            text-align: center;
            height: 80px;
        }
    </style>

    <!-- 2: FOOTER -->
    <div class="footer">
        <ul class="footer-links">
            <li class="first"><a href="#">Help & Support</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <p class="copyright">Copyright &copy; Mologos 2020, All Rights Reserved</a>.</p>			
    </div>

<!-- SCRIPTS -->
{% block scripts %}

    <!-- Formatting of dates and times in Flask templates using moment.js. -->
    {{ moment.include_jquery() }}
    {{ moment.include_moment() }}

    <script>
      function delete_flash(flash){
          $(flash).parent().remove()
      }
    </script>

    

{% endblock %}
</body>
</html>