<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Mologos: {% block title %}{% endblock %}</title>

    {% block styles %}
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    {% endblock %}

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}"
    type="image/x-icon">

    <!-- JQuery is a dependency for moment.time -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<!-- Navbar https://getbootstrap.com/docs/4.3/components/navbar/ -->
{% block navbar %}
<div class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

   
    <div class="collapse navbar-collapse">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">MoLogos</a>
        <!-- mr-auto keeps the other links to the right -->
        <ul class="navbar-nav mr-auto">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="/my_words">My Words</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/challenge">Challenge</a>
            </li>                    
            {% endif %}

        </ul>

    <!-- Search Bar -->
    {% if current_user.is_authenticated %}
    <form class="form-inline my-2 my-lg-0" action="/definition" method="POST">
        <input name="word-to-lookup" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% endif %}
    <!-- End of Search Bar -->

    <ul class="navbar-nav my-2 my-lg-0">
        {% if current_user.is_admin %}
        <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                Admin <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="/admin_words">Admin Local Dict</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin_dictionary_examples">Admin Dict Examples</a></li>
                <li class="nav-item"><a class="nav-link" href="/admin_user_examples">Admin User Examples</a></li>                    
                <li class="nav-item"><a class="nav-link" href="/admin_definitions">Admin Definitions</a></li>
            </ul>
        </li>
    {% endif %}
        {% if current_user.is_authenticated %}
        <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">

                <li class="nav-item"><a class="nav-link" href="{{ url_for('main.profile') }}">Profile</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.change_password') }}">Change Password</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.change_email_request') }}">Change Email</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
            </ul>
        </li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
        {% endif %}
    </ul>

    </div>
</div>
</div>
{% endblock %}
<!-- End of Navbar -->
<div>

<!-- Flash Messages --> 
{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

<!-- Page content -->{% block page_content %}{% endblock %}
</div>
{% endblock %}

    <footer id="footer" class="small bg4657 footer-23 text-center text-muted">
        Powered by <a href="https://dictionaryapi.com/">Merriam-Webster</a>
        <img src="{{url_for('static', filename='img/merriam-webster-logo.jpeg')}}" alt="" width="50" height="auto">
    </footer>

    <!-- Scripts -->
    {% block scripts %}
    {{ moment.include_moment() }}
    {% endblock %}
</html>
