{% extends "base.html" %}{% block title %}: Challenge{% endblock %}{% block page_content %}

<div class="flag-container-bar-at-top-14">
    {% for language in language_codes %}
        {% if language.active %}
            {{ macros.generate_flag(endpoint=endpoint, country=language.code, filename=language.filename) }}
        {% endif %}
    {% endfor %}
</div>

<div class="table-header-results-and-list-page list-page-grid-{% if english %}english{% else %}foreign{% endif %}">
    <div class="table-cell-text-73 first-col-padding-left-74">{% if english %}Word{% else %}English{% endif %}</div>
    <div class="table-cell-text-73">{% if english %}Example{% else %}{{ lng.lng_eng }} / {{ lng.lng_src }}{% endif %}</div>
    <div class="table-cell-text-73"></div>
    <div class="table-cell-text-73"></div>
    <div class="table-cell-text-73"></div>
</div>

{% if words %}
<form class="challenge-form" action="/challenge/{{ lng.code }}" method="POST">
    <div class="table-challenge-english min-height-table-16">
        {% for word in words %}
                <div class="table-row-challenge-page table-row-challenge-{% if english %}english{% else %}foreign{% endif %}">
                <div class="table-cell-text-73 challenge-text-size-74 first-col-padding-left-74">
                    <input type="hidden" name="word_id" value="{{ word.id }}">
                    <input type="hidden" name="word-in-english" value="{{ word.word }}">
                    <input type="hidden" name="star_boolean" value="0">
                    <input type="hidden" name="eye_boolean" value="0">{% if english %}<input type="hidden" name="target_word" value="{{ word.target_word }}">{{ macros.sentence_case(word.first_half_sentence) }}_______________{{ word.second_half_sentence }}{% else %}{{ word.word }}
                    <input type="hidden" name="target_word" value="{{ word.example }}">
                {% endif %}
                </div>

                <div class="table-cell-symbol">
                    <input id="user-guess" class="write-guess-text-input-949" type="text" name="user_guess" placeholder="write guess...">
                </div>

                <div class="table-cell-symbol">
                    {{ macros.success_and_fail_statistics(word) }}
                </div>
                <div class="table-cell-symbol">
                    {{ macros.eye_symbol_hide_word(word, lng, False, 'main.challenge' ) }}
                </div>
                <div class="table-cell-symbol">
                    {{ macros.star_symbol(word, lng, False, 'main.challenge' ) }}
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="center-btn-container-flexbox-13">
        <button class="submit-btn-challenge" type="submit">Submit</button>
    </div>

</form>
{% else %}{{ macros.no_saved_words_message(endpoint=endpoint, language=lng, is_english=english) }}{% endif %}
{% endblock %}