{% extends "base.html" %}

{% block title %}
    {{ word.word if word else 'Not Found' }}
{% endblock %}

{% block page_content %}
<div class="inner-container">

    <form action={{ url_for('main.add', word=word.word) }} method="POST">
    {% if word %}

      <div id="definition-container">

        <div>
            <div class="defined-word-container">
                <h1 name="defined-word" class="defined-word-content">{{ word.word }}</h1>
            </div>
            <div class="pron-ipa-container">
                <span class="pron-ipa-content">/{{ word.pronunciation }}/<span>
            </div>
        </div>

        <hr>

        <div>
          <ol>
              {% for definition in word.definitions %}
                  <li> {{definition}} </li>
              {% endfor %}
          </ol>
        </div>

        <div>
          {% if word.examples %}
              <h2 class="link color">Examples</h2>
              <ul>
                  {% for example in word.examples %}
                      <li> {{example}} </li>
                  {% endfor %}
              </ul>
          {% endif %}
        </div>

        <div>
          {% if word.etymology %}
              <hr>
              <h2>Etymology</h2>
              <p>{{ word.etymology }}</p>
          {% endif %}
        </div>

        </hr>

        <div>
            <h4>My Example</h4>
            <div id="definition-example">
                <textarea type="text" name="user-example" class="form-control" id="area-2" rows="2"></textarea>
            </div>
            
            <div id="add-dict-btn-container">
                <button class="btn btn-primary" type="submit">Add to my dictionary</button>
            </div>
        </div>
        </div>
      </form>

    {% endif %}
</div>

{% endblock %}