<style>
.edit-page-add-button {
    cursor: pointer;
}

.edit-page-translation-table-grid {
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: 150px 150px;
}

.edit-page-translation-table-grid-item {
    padding: 0.1rem;
    background: #f4f4f4;
    border: #ccc 1px solid;
    text-align: left;
    font-weight: 500;
    font-size: 1.1rem;
}


.placeholder-17 {
    background: red;
    padding: 10px;
    width: 300px;
    background: grey;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 29px;
    margin-right: 3px;
}

.placeholder-18 {
    background: green;
    border-radius: 0.75rem;
    padding: 3px;
    margin: 12px;
    display: flex;
    /* Horizonatally centered */
    justify-content: center;
    flex-wrap: wrap;
    height: 150px;
    width: 100%;
}

.placeholder-19 {
    display: inline;
    padding: 3px;
}

.placeholder-20 {
    align-items: flex-start;
    background-color: #FDEAA0;;
    border-color: #0F222D;
    border-radius: 0.55rem;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    margin-right: 3px;
    padding: 1px 3px;
    text-align: center;
    text-rendering: auto;
    vertical-align: middle;
    width: 35px;

    transition: transform .1s ease-in,box-shadow .1s ease-in;
    -webkit-transition: transform .1s ease-in;
}

.placeholder-20:active:hover {
    background-color: #3276B1;  
}      
</style>

{% extends "base.html" %}
{% block title %}: Edit {{ word.word }} {% endblock %}

{% block page_content %}

<div class="inner-container">
    <form action="{{ url_for('main.update_word', id=word.id, lng=lng.code) }}" method="POST">
    
    <div class="edit-grid">
        <div>
            <div class="defined-word-container">
                <h1 name="defined-word" class="defined-word-content">
                    {% if word_details %}
                    {{ word.word }} 
                    {% else %}
                    {{ word.example }}
                    {% endif %}
                </h1>
                <hr>
                <hr>
                {% if is_english %}
                {% else %}
                    {{ lng.lng_src }}
                {% endif %}
            </div>

            <!-- For English Words with Pronunciation, Definition and Etymology -->
            {% if word_details %}
                <div class="pron-ipa-container">
                    <span class="pron-ipa-content">/{{ word_details.pronunciation }}/<span>
                </div>
                <div>
                    {{ definition.definition }}
                </div>
                <small>
                    {{ word_details.etymology }}
                </small>
                <div>
                    <p><a class="link-color" href="{{ url_for('main.define', word=word.word) }}">Examples</a></p>
                </div>
            {% endif %}
        </div>

        <div>
            <div class="icon-container">
                <div class="tooltip-container">
                    <a><i class="fa fa-eye-slash fa-2x {% if word.ignored %}icon-selected{% endif %}" onclick="toggleColor(this)"></i></a>
                    <input type="hidden" id="eye-boolean" name="eye_boolean" value="0">
                    <span class="tooltiptext">Hide From Challenges</span>
                </div>

                <div class="tooltip-container">
                    <a><i class="fa fa-star fa-2x {% if word.starred %}icon-selected{% endif %}" onclick="toggleColor(this)"></i></a>
                    <input type="hidden" id="star-boolean" name="star_boolean" value="{% if word.starred %}1{% else %}0{% endif %}">
                    <span class="tooltiptext">Mark as Important</span>
                </div>

                <div class="tooltip-container">
                    <a href="{{ url_for('main.delete', id=word.id, lng=lng.code) }}"><i class="fa fa-trash fa-2x trash-extra-padding"></i></a>
                    <span class="tooltiptext">Delete</span>
                </div>

                <div class="tooltip-container">


                    <style>
                        .word-success {
                            color: green;
                        }
                        .word-fail {
                            color: red;
                        }
                        .table-cell-symbol-edit-page {
                            width: 60px;
                            height: 100%;
                            display: flex;
                            margin: auto;
                        
                            /* Vertically aligns */
                            align-items: center;
                            /* Horizontally aligns */
                            justify-content: center; 
                        
                            background-color: yellow;
                            border: 1px solid brown;
                            border-radius: 10px;
                        }
                        </style>
                        <div class="table-cell-symbol-edit-page">
                            <span class="word-success">{{ word.success }}</span> v <span class="word-fail">{{ word.fail }}</span>
                        </div>
                        <span class="tooltiptext">Statistics</span>
                        
                </div>
            </div>
        </div>

        <div>
            {% if translation_dict %}
            <div class="edit-page-translation-table-grid">
                {% for language, translation in translation_dict.items() %}
                    {{ macros.generate_flag(endpoint='main.list', country=language, filename=language.filename) }}
                    <div class="edit-page-translation-table-grid-item">{{ translation }}</div>                    
                {% endfor %}
            </div>
            {% else %}
                No Translation Dictionary becuase you are sending a list instead
            {% endif %}
        </div>

        <div>
            tbc
        </div>

        <div>
            {% if keyboard %}
            <div class="placeholder-17">
                <div class="placeholder-18">
                    {% for row in keyboard %}
                        <div class="placeholder-19">
                            {% for key in row %}
                                <button class="placeholder-20" onclick="addAccentToTextArea(this)" role="button" type="button" value="&{{ key.html_entity }}">{{ key.character }}</button>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>        

        <div>
        </div>

        <div>
            {% if word.word %}
                <div class="edit-page-example">
                    {% if definition %}{% endif %}
                    {{ lng.lng_src }}:
                    <textarea id="edited-example" type="text" name="edited-example">{{ word.example }}</textarea>
                </div>
            {% endif %}
            <button class="btn btn-primary edit-page-add-button" type="submit">Edit and Update</button>
        </div>

        <div>
            Can this div be deleted?



        </div>        

    </div>
    </form>
</div>

<!-- Script for Changing Color of Star and Eye-->
<script type="text/javascript">
    let starBoolean = document.getElementById('star-boolean')
    let hideBoolean = document.getElementById('eye-boolean')

    function toggleColor(e) {
        // Remove style if it already has it
        if (e.classList.contains("icon-selected")) {
            e.classList.remove("icon-selected");
            // Change the value of the hidden input to zero
            if (e.classList.contains("fa-eye-slash")) {
                hideBoolean.value = 0;
            } else {
                starBoolean.value = 0;
            }
            
        } else {
            e.classList.add("icon-selected");

            if (e.classList.contains("fa-eye-slash")) {
                hideBoolean.value = 1;
            } else {
                starBoolean.value = 1;
            }
        }
    }
</script>

<!-- Script to add an accent to the example text area -->
<script type="text/javascript">
    const addAccentToTextArea = event => {
        // Add accent to the text area
        document.getElementById("edited-example").value += event.value;
    }
</script>
{% endblock %}