{% extends "base.html" %}

{% block page_content %}

{% include 'partials/_flashes.html' %}

<!-- SHOWCASE -->
<header id="showcase">
    <div class="container">
        <div class="showcase-container">
            <div class="showcase-content">
                <h1>Welcome to Mologos!</h1>
                <p>Your place to store words and expressions you want to learn</p>
                <a href="{{ url_for('auth.login') }}" class="btn btn-green">Get Started Now!</a>
            </div>
        </div>
    </div>
</header>

<!-- HOMEPAGE ARTICLES -->
<section id="home-articles" class="py-2">
    <div class="articles-container">
        <article class="card p-1">
            <img src="{{ url_for('static', filename='img/siteshots/03-site-shot.png') }}" alt="">
            <h3>
                <a href="{{ url_for('auth.register') }}">Create your own examples</a>
            </h3>
            <p>Personalise your own dictionary by adding your own sentences or using the ones provided by our database</p>
        </article>

        <article class="card p-1">
            <h3>
                <a href="{{ url_for('auth.register') }}">Test yourself and design memory games!</a>
            </h3>
            <p>Use our algorithm which intelligently picks questions based on the statistics of your past performances</p>
            <img src="{{ url_for('static', filename='img/siteshots/04-site-shot.png') }}" alt="">
        </article>

        <article class="card p-1">
            <img src="{{ url_for('static', filename='img/siteshots/01-site-shot.png') }}" alt="">
            <div>
                <h3>
                    <a href="{{ url_for('auth.register') }}">Store definitions of words</a>
                </h3>
                <p>Take advantage of our partnership with Merriam-Webster to search a database of 275,000 words</p>
            </div>
        </article>

        <article class="card p-1 bg-dark">
            <h3>
                <a href="{{ url_for('auth.register') }}">Find translations in foreign languages</a>
            </h3>
            <p>Find expressions in German, Italian, Portuguese and Spanish!</p>
            <img src="{{ url_for('static', filename='img/siteshots/02-site-shot.png') }}" alt="">
        </article>
        
        <article class="card p-1">
            <img src="{{ url_for('static', filename='img/siteshots/03-site-shot.png') }}" alt="">
            <h3>
                <a href="{{ url_for('auth.register') }}">Create your own examples</a>
            </h3>
            <p>Personalise your own dictionary by adding your own sentences or using the ones provided by our database</p>
        </article>

        <article class="card p-1">
            <h3>
                <a href="{{ url_for('auth.register') }}">Test yourself and design memory games!</a>
            </h3>
            <p>Use our algorithm which intelligently picks questions based on the statistics of your past performances</p>
            <img src="{{ url_for('static', filename='img/siteshots/04-site-shot.png') }}" alt="">
        </article>  

    </div>
</section>

{% endblock %}