{% extends "base.html" %}{% block title %}: My Words{% endblock %}{% block page_content %}

{% include 'partials/_flag_container.html' %}

{% if words %}
<div>
    <div class="table-header-background-color list-page-grid-{% if english %}english{% else %}foreign{% endif %}">
        <div class="table-cell-text-73 first-col-padding-left-74">{% if english %}Word{% else %}English{% endif %}</div>
        <div class="table-cell-text-73">{% if english %}Example{% else %}{{ lng.lng_eng }} / {{ lng.lng_src }}{% endif %}</div>
        <div class="table-cell-text-73"></div>
        <div class="table-cell-text-73"></div>
        <div class="table-cell-text-73"></div>
    </div>

    {% for user_example in words %}  
        <div class="table-row-results-and-list-page {% if english %}list-page-grid-english{% else %}list-page-grid-foreign{% endif %}">
        {% if english %}
            <div class="table-cell-text-73 first-col-padding-left-74"><a href="{{ url_for('main.define', word=user_example.word) }}">{{ user_example.word }}</a></div>
            <div class="table-cell-text-73">{{ user_example.example }}</div>
            <div class="table-cell-text-73">{{ macros.success_and_fail_statistics(user_example) }}</div>
            <div class="table-cell-text-73">{{ macros.edit_icon_english('main.define', user_example.word, True) }}</div>
            <div class="table-cell-text-73">{{ macros.delete_trash_icon(user_example, lng.code, 'main.list', False, True) }}</div>
        {% else %}
            <div class="table-cell-text-73 first-col-padding-left-74">{{ user_example.word }}</div>
            <div class="table-cell-text-73"><a href="{{ url_for('main.edit', id=user_example.id, lng=lng.code) }}">{{ user_example.example }}</a></div>
            <div class="table-cell-text-73">{{ macros.success_and_fail_statistics(user_example) }}</div>
            <div class="table-cell-text-73">{{ macros.edit_icon_foreign('main.edit', user_example.id, lng.code, True) }}</div>
            <div class="table-cell-text-73">{{ macros.delete_trash_icon(user_example, lng.code, 'main.list', False, True) }}</div>
        {% endif %}
        </div>
    {% endfor %}
{{ macros.pagination_widget(pagination, endpoint=endpoint, lng=lng.code, user_id=user_id) }}

{% else %}{{ macros.no_saved_words_message(endpoint=endpoint, language=lng, is_english=english) }}{% endif %}

</div>{% endblock %}