{% extends "base.html" %}{% block title %}: Profile{% endblock %}{% block page_content %}

{% include 'partials/_flashes.html' %}

<div id="javascript-accordion">
    <p class="instructions-for-user">Choose the languages you want to appear</p>

    <form action="{{ url_for('main.update_preferences') }}" method="POST">

    <div class="flags-preferences-wrapper">
        {% for language in language_codes %}
        <div>
            <div class="pl82020-profile-page-placeholder">
                {{ macros.generate_flag(endpoint='.list', country=language.code, filename=language.filename) }}
            </div>

            <div class="pl82020-profile-page-placeholder">
                <label class="switch">
                    <input type="hidden" name="language_name" value="{{ language.lng_eng.lower() }}">
                    <input type="hidden" name="hidden_input_value" value="{% if language.active %}1{% else %}0{% endif %}">
                    <input onChange="toggleValOfSwitchElementOnChange(this)" type="checkbox" name="checkbox_input" {% if language.active %}checked{% endif %} value="{% if language.active %}1{% else %}0{% endif %}">
                    <span class="slider round"></span>
                </label>
            </div>
            
        </div>
        {% endfor %}
    </div>

        <div class="update-preferences-btn-wrapper">
            <button type="submit" class="btn btn-primary btn-125-font-size">Update Preferences</button>
        </div>

    </form>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/toggle-val-of-switch-element-on-change.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/display-block-on-window-load.js') }}"></script>

{% endblock %}