{% extends "base.html" %}

{% block title %}
    Translate
{% endblock %}

{% block page_content %}

{% include 'partials/_flashes.html' %}

id = db.Column(db.Integer, primary_key=True)
email = db.Column(db.String(64), unique=True, index=True)
username = db.Column(db.String(64), unique=True, index=True)
role_id = db.Column(db.Integer, db.ForeignKey('role.id'))
password_hash = db.Column(db.String(128))
name = db.Column(db.String(64))
location = db.Column(db.String(64))
about_me = db.Column(db.Text())
member_since = db.Column(db.DateTime(), default=datetime.utcnow)
last_seen = db.Column(db.DateTime(), default=datetime.utcnow)
confirmed = db.Column(db.Boolean, default=False)
is_admin = db.Column(db.Boolean, default=False)
lng_preferred = db.Column(db.String(3))
lng_recent = db.Column(db.String(3))



{% for language in languages %}            
<tr>
    <td>German: {{ language.german }}</td>
    <td>Greek: {{ language.greek }}</td>
</tr>
{% endfor %}


<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>

<label class="switch">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>


<!-- End of page_content -->
{% endblock %}



You want to get the boolean values from the database
Put them into a parsing function
You then want to put them through that helper function
Then they get sent to the Profile HTML template
Inside the Profile HTML template, you want them displayed as a toggles