{% extends "base.html" %}

{% block title %}: Translate{% endblock %}

{% block page_content %}

{% include 'partials/_flashes.html' %}

<style>
.dropdown-select-942 {
    min-width: 120px;
}
</style>

<!-- Translate Container -->
    <div class="translate-grid">
        <div id="language-select-container" class="language-select flex-container" style="display: none;">
            <div class="inner-lang-select">
                <input type="hidden" id="usr-recent-lang" value="{{ lng_recent }}">
                <label for="select-language"><strong>Translate to:</strong></label>
                <select name="select_language" class="dropdown-select-942" id="select-language">
                    {% for language in language_codes %}
                        {% if language.active %}
                            <option value="{{ language.code }}">{{ language.lng_eng }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>     
        <div class="box-1 flex-container">
            {% if input %}
            <textarea class="translate-box" id="text-to-translate">{{ input }}</textarea>
            {% else %}
            <textarea class="translate-box" id="text-to-translate"></textarea>
            {% endif %}
        </div>
        <div class="box-2 btn-wrapper">
            <form id="form-translate-api" action="{{ url_for('main.translate', lng='en') }}" method="POST">
                <input type="hidden" id="src-tra-1" name="text_to_translate">
                <input type="hidden" id="dst-lng-1" name="destination_language_api">
                <button type="submit" class="btn btn-primary" id="translate-btn" onclick="fetchInput(this)">Translate</button>
            </form>
        </div>
        <div class="box-3 flex-container">                
            {% if output %}
            <textarea class="translate-box" id="translation-result"  name="translation_result">{{ output }}</textarea>
            {% else %}
            <textarea readonly class="translate-box" placeholder="Translation" name="translation_result" id="translation-result">{{ output }}</textarea>
            {% endif %}
        </div>
        <div class="box-4">
            <p>
                You can edit the translated text before adding to your dictionary
            </p>
        </div>
        <div class="add-btn">
            <form id="form-add-translation-to-db" action="{{ url_for('main.translate', lng='en') }}" method="POST">
                <input type="hidden" id="src-tra-2" name="text_in_english_add_db">
                <input type="hidden" id="dst-tra-2" name="translation_output_add_db">
                <input type="hidden" id="dst-lng-2" name="destination_language_add_db">
                <input type="hidden" id="most-recent-translation-lang" name="most_recent_translation_lang" value="{{ lng_recent }}">   
                <button type="submit" class="btn btn-primary" onclick="fetchInput(this)">Add to My Dictionary</button>
            </form>
        </div>
        <div class="box-5">
            {% if recent_translations %}
            <h3>Your Recent Translations</h3>

            <style>
                .previous-translations-grid {
                    background-color: #f9a8e3;
                    width: 100%;
                }
                .table-row-recent-translation {
                    background-color: green;
                    width: 100%;
                    display: grid;
                    grid-template-columns: 3fr 1fr 3fr;
                    border: 1px dotted blue;
                    height: 60px;
                }
                .table-cell-symbol {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    margin: auto;

                    /* Vertically aligns */
                    align-items: center;
                    /* Horizontally aligns */
                    justify-content: center; 

                    background-color: yellow;
                    border: 1px solid brown;
                    border-radius: 10px;
                }                
            </style>            

            <div class="previous-translations-grid">
                {% for element in recent_translations %}
                    <div class="table-row-recent-translation">
                        <div class="table-cell-symbol"><a href="{{ url_for('main.define', word=element.word) }}">{{ element.word }}</a></div>                    
                        <div class="table-cell-symbol">
                            {{ macros.generate_flag(endpoint='main.list', country=element.dst, filename='img/flags/pl.png') }}
                        </div>
                        <div class="table-cell-symbol"><a href="{{ url_for('main.edit', id=element.id, lng=element.dst) }}">{{ element.example }} {{ element.id }} {{ element.dst }}</a></div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>


<!-- Script to update Hidden Values for Translations -->
<script type="text/javascript">
    function fetchInput(element) {
        event.preventDefault(element)

        // Fetch values
        srcVal = document.getElementById("text-to-translate").value;
        srcLng = document.getElementById("select-language").value;

        if (element.id == "translate-btn") {
            // Assign values to hidden input
            document.getElementById("src-tra-1").value = srcVal;
            document.getElementById("dst-lng-1").value = srcLng;

            document.getElementById("form-translate-api").submit();
        } else {
            dstVal = document.getElementById("translation-result").value;

            console.log(dstVal)
            console.log(srcLng)

            document.getElementById("src-tra-2").value = srcVal;
            document.getElementById("dst-lng-2").value = srcLng;
            document.getElementById("dst-tra-2").value = dstVal;

            document.getElementById("form-add-translation-to-db").submit();
        }
    }
</script>


<!-- Script to change the hidden value of the destination language -->
<script type="text/javascript">

    // Note 2: Find a way of fixing the Edge Case: A user translates to Latin and then chagnes their User Preferences so that Latin is no longer in their languages. Therefore, you won't be able to find it on the select
    // Note 4: http://localhost:5000/definition/wolf doesn't translate the words you want

</script>


<!-- Script which grabs most recent language and updates the select value -->
<script>
    // Get Most recent language from hidden input
    const mostRecentLanguage = document.getElementById("most-recent-translation-lang").value;

    // Declare function
    const selectFromOptions = (selectId, optionValToSelect) => {
        //Get the select element by it's unique ID.
        const selectElement = document.getElementById(selectId);
        //Get the options.
        const selectOptions = selectElement.options;
        //Loop through these options using a for loop.
        for (let option, i = 0; option = selectOptions[i]; i++) {
            //If the option of value is equal to the option we want to select.
            if (option.value == optionValToSelect) {
                //Select the option and break out of the for loop.
                selectElement.selectedIndex = i;
                break;
            }
        }
    }

    // Call function
    selectFromOptions("select-language", mostRecentLanguage)

    // Display the block which was previously hidden (This prevents stutterly loading)
    document.getElementById("language-select-container").style.display = "block";
</script>


<!-- Script to Trigger Translate on Pressing Enter Button -->
<script type="text/javascript">    
    // Get the input field
    const textBoxInput = document.getElementById("text-to-translate");

    // Execute a function when the user releases a key on the keyboard
    textBoxInput.addEventListener("keydown", function(event) {
      // Number 13 is the "Enter" key on the keyboard
      if (event.keyCode === 13) {
        // Cancel the default action, if needed
        event.preventDefault();
        // Trigger the button element with a click
        document.getElementById("translate-btn").click();
      }
    });
</script>

<!-- End of page_content -->
{% endblock %}
