{% extends "base.html" %}{% block title %}: Translate{% endblock %}{% block page_content %}

{% include 'partials/_flashes.html' %}

<!-- Translate Container -->
    <div class="translate-grid">

        {{ macros.select_language_dropdown(language_codes, lng_recent) }}

        <div class="box-1 flex-container">
            {% if input %}
            <textarea class="translate-box" id="text-to-translate" onkeydown="fireSubmitOnEnter(this, 'translate-btn')">{{ input }}</textarea>
            {% else %}
            <textarea class="translate-box" id="text-to-translate"></textarea>
            {% endif %}
        </div>
        <div class="box-2 btn-wrapper">
            <form id="form-translate-api" action="{{ url_for('main.translate', lng='en') }}" method="POST">
                <input type="hidden" id="src-tra-1" name="text_to_translate">
                <input type="hidden" id="dst-lng-1" name="destination_language_api">
                <button type="submit" class="btn btn-primary" id="translate-btn" onclick="fetchInput(this)">Translate</button>
            </form>
        </div>
        <div class="box-3 flex-container">                
            {% if output %}
            <textarea class="translate-box" id="translation-result"  name="translation_result">{{ output }}</textarea>
            {% else %}
            <textarea readonly class="translate-box" placeholder="Translation" name="translation_result" id="translation-result">{{ output }}</textarea>
            {% endif %}
        </div>
        <div class="box-4">
            <p>
                You can edit the translated text before adding to your dictionary
            </p>
        </div>
        <div class="add-btn">
            <form id="form-add-translation-to-db" action="{{ url_for('main.translate', lng='en') }}" method="POST">
                <input type="hidden" id="src-tra-2" name="text_in_english_add_db">
                <input type="hidden" id="dst-tra-2" name="translation_output_add_db">
                <input type="hidden" id="dst-lng-2" name="destination_language_add_db">
                <input type="hidden" id="most-recent-translation-lang" name="most_recent_translation_lang" value="{{ lng_recent }}">   
                <button type="submit" class="btn btn-primary" onclick="fetchInput(this)">Add to My Dictionary</button>
            </form>
        </div>
        <div class="box-5">
            {% if recent_translations %}
            <h3>Your Recent Translations</h3>

            <div class="previous-translations-grid">
                {% for element in recent_translations %}
                    <div class="table-row-recent-translation">
                        <div class="table-cell-symbol-centered-11"><a href="{{ url_for('main.define', word=element.word) }}">{{ element.word }}</a></div>                    
                        <div class="table-cell-symbol-centered-11">
                            {{ macros.generate_flag(endpoint='main.list', country=element.dst, filename='img/flags/pl.png') }}
                        </div>
                        <div class="table-cell-symbol-centered-11"><a href="{{ url_for('main.edit', id=element.id, lng=element.dst) }}">{{ element.example }}</a></div>
                        <div class="table-cell-symbol-centered-11">{{ macros.edit_icon_foreign('main.edit', element.id, element.dst, True) }}</div>
                        <div class="table-cell-symbol-centered-11">{{ macros.star_symbol(element, element.dst, False, 'main.translate' ) }}</div>
                        <div class="table-cell-symbol-centered-11">{{ macros.delete_trash_icon(element, element.dst, 'main.translate', False, True) }}</div>
                    </div>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>

<script type="text/javascript" src="{{ url_for('static', filename='js/update-hidden-values-for-translations.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/trigger-translate-with-enter-button.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/grab-most-recent-language-and-update-select-value.js') }}"></script>

<!-- End of page_content -->
{% endblock %}
