<!-- User Words: Page which displays all the words which corresponse with the user's ID -->

{% extends "base.html" %}

{% block title %}Title here{% endblock %}

{% block page_content %}

    <div id="flag-container">
        <a href="{{ url_for('main.my_words', lng='en') }}"><img src="{{url_for('static', filename='img/flags/en.png')}}" alt="flag-en" class="flag"></a>
        <a href="{{ url_for('main.my_words', lng='es') }}"><img src="{{url_for('static', filename='img/flags/es.png')}}" alt="flag-es" class="flag"></a>
        <a href="{{ url_for('main.my_words', lng='de') }}"><img src="{{url_for('static', filename='img/flags/de.png')}}" alt="flag-de" class="flag"></a>
        <a href="{{ url_for('main.my_words', lng='it') }}"><img src="{{url_for('static', filename='img/flags/it.png')}}" alt="flag-it" class="flag"></a>
        <a href="{{ url_for('main.my_words', lng='pt') }}"><img src="{{url_for('static', filename='img/flags/pt.png')}}" alt="flag-pt" class="flag"></a>
    </div>

    <!-- TODO => Write logic which displays message if there are no words to display -->

    {% if words %}

        {% if english_view %}
            <div id="my-words-table">
                <table>
                    <thead>
                        <tr>
                            <th>Word</th>
                            <th>Example</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                
                    <tbody>
                        {% for word in words %}            
                            <tr>
                                <td><a href="{{ url_for('main.define', word=word.word) }}">{{ word.word }}</a></td>
                                <td>{{ word.example }}</td>
                                <td><a href="{{ url_for('main.edit', id=word.id) }}"><i class="fa fa-edit fa-2x"></i></a></td>
                                <td><a href="{{ url_for('main.delete', id=word.id, lng='en') }}"><i class="fa fa-trash fa-2x"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        {% else %}
            <div id="my-words-foreign">
                <table>
                    <thead>
                        <tr>
                            <th>English</th>
                            <th>{{ lng }}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                
                    <tbody>
                        {% for word in words %}            
                            <tr>
                                <td>{{ word.input }}</td>
                                <td>{{ word.output }}</td>
                                <td><a href="{{ url_for('main.edit', id=word.id) }}"><i class="fa fa-edit fa-2x"></i></a></td>
                                <td><a href="{{ url_for('main.delete', id=word.id, lng=lng) }}"><i class="fa fa-trash fa-2x"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

    {% else %}
    <div class="inner-container">
        <p>You don't have any saved words or expressions in {{ lng }}</p>
        <p>Go to the <a class="link-color" href="{{ url_for('main.translate') }}">translation</a> page to add some!</p>
    </div>
    {% endif %}

{% endblock %}

<!-- All text below is comments and notes -->
* Schema for User Example
id
user_id
word
example
created
last_modified

* Schema for Foreign lng
created = db.Column(db.DateTime, default=datetime.utcnow)
source_language = db.Column(db.String(2))
destination_language = db.Column(db.String(2))
input = db.Column(db.Text())
output = db.Column(db.Text())