<!-- User Words: Page which displays all the words which corresponse with the user's ID -->

{% extends "base.html" %}

{% block title %}Title here{% endblock %}

{% block page_content %}

    <h1>User Words</h1>

    <!-- TODO => Write logic which displays message if there are no words to display -->

    <div id="my-words-table">
        <table>
            <thead>
                <tr>
                    <th>Word</th>
                    <th>Example</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
        
            <tbody>
                {% for word in words %}            
                    <tr>
                        <td><a href="{{ url_for('main.define', word=word.word) }}">{{ word.word }}</a></td>
                        <td>{{ word.example }}</td>
                        <td><a href="{{ url_for('main.edit', id=word.id) }}"><i class="fa fa-edit fa-2x"></i></a></td>
                        <td><a href="{{ url_for('main.delete', id=word.id) }}"><i class="fa fa-trash fa-2x"></i></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

<!-- All Text Below are Comments and Notes -->
Schema: (For Reference)
id
user_id
word
example
created
last_modified